Repository MateuszKasprzak2tc/hitKonstytucja, changes with the owners that .github/CODEOWNERS names for each.
All owners: mateusz.kasprzak@tm1.edu.pl, krzysztof.jurkowski@tm1.edu.pl, michal.wojtowicz@tm1.edu.pl, szymon.marynowski@tm1.edu.pl, @krzysztof.jurkowski@tm1.edu.pl

Create LICENSE
  LICENSE
Owners: mateusz.kasprzak@tm1.edu.pl

Rename Konstytucja3maja.md to konstytucja3maja.md
  konstytucja3maja.md
Owners: michal.wojtowicz@tm1.edu.pl

Hotfix: index aligment for GH Pages
  index.md
  konstytucja3maja.md
  konstytucjaAmerykanska.md
  konstytucjaFrancuska.md
Owners: szymon.marynowski@tm1.edu.pl, michal.wojtowicz@tm1.edu.pl, mateusz.kasprzak@tm1.edu.pl, krzysztof.jurkowski@tm1.edu.pl

Update README.md
  README.md
Owners: @krzysztof.jurkowski@tm1.edu.pl

Quickfix: nbsp
  _config.yml
Owners: krzysztof.jurkowski@tm1.edu.pl

.github/CODEOWNERS:

* mateusz.kasprzak@tm1.edu.pl

/.github/* krzysztof.jurkowski@tm1.edu.pl

/assets/** michal.wojtowicz@tm1.edu.pl

/_config.yml krzysztof.jurkowski@tm1.edu.pl
/.gitignore krzysztof.jurkowski@tm1.edu.pl
/Gemfile krzysztof.jurkowski@tm1.edu.pl

/index.md szymon.marynowski@tm1.edu.pl
/konstytucja3maja.md michal.wojtowicz@tm1.edu.pl
/konstytucjaAmerykanska.md mateusz.kasprzak@tm1.edu.pl
/konstytucjaFrancuska.md krzysztof.jurkowski@tm1.edu.pl

/README.md @krzysztof.jurkowski@tm1.edu.pl
